services:
  nyarlathotep:
    container_name: nyarlathotep
    image: nyarlathotep:latest
    pull_policy: build
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    networks:
      - nyarlathotep-network
    restart: unless-stopped

networks:
  nyarlathotep-network:
    driver: bridge
