services:
  nyarlathotep-backend:
    build:
      context: .
      dockerfile: ./nyarlathotep-backend/Dockerfile
    ports:
      - "8080:8080"
    networks:
      - nyarlathotep-network
    restart: always

  nyarlathotep-frontend:
    build:
      context: .
      dockerfile: ./nyarlathotep-frontend/Dockerfile
    ports:
      - "80:4173"
    networks:
      - nyarlathotep-network
    restart: always

networks:
  nyarlathotep-network:
    driver: bridge
